<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357067677157-00f6jru42ruqcvodlr8osr4kvcenbcq5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357067677157-00f6jru42ruqcvodlr8osr4kvcenbcq5</string>
	<key>API_KEY</key>
	<string>AIzaSyBjLKXV_QRJiCSoFzYTt4obuEkPW_djPoA</string>
	<key>GCM_SENDER_ID</key>
	<string>357067677157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hkili</string>
	<key>PROJECT_ID</key>
	<string>hkili-286e1</string>
	<key>STORAGE_BUCKET</key>
	<string>hkili-286e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357067677157:ios:396b5d35d3fe10acc5a30c</string>
</dict>
</plist>